@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Dana";              /* 400*/
        font-display: swap;
        src:local("Dana"), url(/public/assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2) format("woff2");
    }
    @font-face {
        font-family: "Dana Medium";       /* 500*/
        font-display: swap;
        src:local("Dana Medium"), url(/public/assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
    }
    @font-face {
        font-family: "Dana DemiBold";    /* 600*/
        font-display: swap;
        src:local("Dana DemiBold"), url(/public/assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2) format("woff2");
    }
    @font-face {
        font-family: "Morabba light";           
        font-display: swap;
        src:local("Morabba light"), url(/public/assets/fonts/Morabba/woff2/Morabba-Light.woff2) format("woff2");
    }
     @font-face {
        font-family: "Morabba Medium";             
        font-display: swap;
        src:local("Morabba Medium"), url(/public/assets/fonts/Morabba/woff2/Morabba-Medium.woff2) format("woff2");
    }
     @font-face {
        font-family: "Morabba Bold";            
        font-display: swap;
        src:local("Morabba Bold"), url(/public/assets/fonts/Morabba/woff2/Morabba-Bold.woff2) format("woff2");
    }
}

